#menu {
    position: fixed; 
    flex-direction: row;
    text-align: center;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100vh; 
    background: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    overflow-y: auto; 
}
#music{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}
#mersal{
    margin: 5%;
 width: fit-content;
 padding: 3%;
 backdrop-filter: blur(5px);
 background-color:  #f9f9f9ac;
 color: black; 
 padding-right: 5%;
 border-radius: 5%;
}
#menu img:hover{
    transform: scale(1.1);
}
button {
    background-color: #ff5733; /* Example button style */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
